\section{Конфигурация репозиториев}

\subsection{Git}

Чтобы упростить имитацию многопользовательской работы в \texttt{Git}, было принято решение структурировать проект следующим образом: 
\begin{lstlisting}
{{ structure_git }}
\end{lstlisting}

Для эмуляции нескольких пользователей создаются отдельные директории в \texttt{local}, которые соответствуют пользовательским именам. Чтобы синхронизировать проекты, в директории \texttt{remote} хранится имитация удалённого репозитория, с которым синхронизируются все изменения. Директория \texttt{diff\_cache} предназначена для хранения zip-архивов, которые даны по варианту для каждой ревизии.

Для создания удалённого репозитория использовалось следующее:
\begin{lstlisting}
{{ remote_configuration_git }}
\end{lstlisting}

Для создания и конфигурации локальных репозиториев использовались следующие команды:
\begin{lstlisting}
{{ local_configuration_git }}
\end{lstlisting}

\subsection{Subversion}

Чтобы упростить имитацию многопользовательской работы в \texttt{Subversion}, было принято решение структурировать проект следующим образом: 
\begin{lstlisting}
{{ structure_svn }}
\end{lstlisting}

Для эмуляции нескольких пользователей создаются отдельные директории в \texttt{local}, которые соответствуют пользовательским именам. Чтобы синхронизировать проекты, в директории \texttt{remote} хранится имитация удалённого репозитория, с которым синхронизируются все изменения. Директория \texttt{diff\_cache} предназначена для хранения zip-архивов, которые даны по варианту для каждой ревизии.

Для создания удалённого репозитория использовалось следующее:
\begin{lstlisting}
{{ remote_configuration_svn }}
\end{lstlisting}

Для создания и конфигурации локальных репозиториев использовались следующие команды:
\begin{lstlisting}
{{ local_configuration_svn }}
\end{lstlisting}