\subsection{Ревизия №{{ revision_num }}}

Листинг Bash-скрипта для системы \texttt{Git}:
\begin{lstlisting}
{{ data['revision_' ~ revision_num ~ '_git'] }}
\end{lstlisting}

Листинг Bash-скрипта для системы \texttt{Subversion}:
\begin{lstlisting}
{{ data['revision_' ~ revision_num ~ '_svn'] }}
\end{lstlisting}

{% if has_conflicts %}
\subsubsection{Разрешение конфликтов}

\dots
{% endif %}