\section{Ревизии}

В данном разделе для каждой ревизии отдельно показаны команды, которые выполняются пользователями индивидуально, чтобы воспроизвести структуру блок-схемы, выданной по варианту.

{{ revision_summary }}